.dialog-item{
    position: relative;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.515);
    color: white;
    border-radius: 7px;
    margin: 10px auto;
    transition: all, 0.4s;
    padding: 10px;
    white-space: pre-wrap;
    display: flex;
    flex-direction: column;

    .content {
        position: relative;
        left: 80px;
        margin: 0 5px;
        top: -70px;
        width: calc(100% - 80px);
    }

    img{
        position: relative;
        margin: 0 5px;
        $side: 70px;
        width: $side;
        height: $side;
    }

    pre{
        code {
            font-family: DM Mono;
            font-size: 15px;
        }
    }

    &:hover{
        box-shadow: 0 0 20px yellow;
    }
}